<div class="jumbotron">
  <h1 class="display-4" >TS Node App</h1>
  <h3 >App realizada con TypeScript y MongoDb</h3>
  <hr class="my-4">
  <h3>Consiste en agregar libros, con su autor y su isbn, y guardarlos en una base de datos</h3>
  
</div>